<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer Results</h1>
    <h3><%= @new.piglatinize(params[:user_phrase]) %></h3>
  
  </body>
</html>